@keyframes blink {
  0% {
    background-color: #ffffff95;
  }

  50% {
    background-color: #ffffff1c;;
  }

  100% {
    background-color: #ffffff95;
  }
}

.title{
  position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroes{
    cursor: pointer;
    list-style-type: none;
    padding: 0;
}

.heroes li {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.heroes li:hover {
  background-color: #f0f0f0;
}





