.example-spacer {
  flex: 1 1 auto;
}

.dashboard-button,
.hero-button {
  position: relative;
  align-items: center;
  margin-left: 355px;
}

.mat-icon {
  font-size: 50px; /* Define o tamanho do ícone */
  width: 50px; /* Define a largura do ícone */
  height: 20px; /* Define a altura do ícone */
}

:host {
    display: block;
    background: url('/assets/background/wp3249271-hd-wallpaper-red.jpg');
    background-position: left left;
    background-size: cover;
}

p {
    color: red;
    padding: 15px;
}

.button-menu{
    background: url('/assets/background/src/Menu_icon_2_icon-icons.com_71856.png');
}

.background-container {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    align-items: flex-start;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.content-container {
    background-color: #7b1fa2a8;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    width: 120vh;
    height: 80vh;
}
