* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;

}

a {
    color: orange;
}

.title-site {
  align-items: center;
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.class {
    border-bottom: 2px solid #b20cb8;
    padding: 2em;
    margin-bottom: 1em;
}

.class2 {
  border-bottom: 2px solid #b20cb8;
  border-top: 2px solid #b20cb8;
  padding: 2em;
  margin-bottom: 1em;
}

html, body {
  height: 100%;
}

body {
  background-color: #F1F1F1;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}





