@keyframes blink {
  0% {
    background-color: #ffffff95;
  }

  50% {
    background-color: #ffffff1c;
    ;
  }

  100% {
    background-color: #ffffff95;
  }
}

div {
  background-color: #00000095;
  color: #000000;
  font-size: 20px;
  font-style: italic;
  font-family: Arial,
  Helvetica,
  sans-serif;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  animation: blink 3050ms infinite;
}
